<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>The Awesome Blog Lite</title>

    <!-- with React: <link rel="icon" href="%PUBLIC_URL%/favicon.ico"/>-->
    <link rel="icon" href="/ico/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest.json">
</head>
<body>
<h1>SPIS TREŚCI</h1>
<h3><a href="/role">Rola</a></h3>
<h3><a href="/tag">Tag</a></h3>
<h3><a href="/user">User</a></h3>
<h3><a href="/post">Post</a></h3>
</body>
</html>